*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:var(--gray-900);
    color:var(--white);
}

div{
    display : flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh
}